header {
    position: fixed;
    width:100%;
    height: 48px;
    top: 0;
    left: 0;
    background-color: #333;
}
ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#homeNav {
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#playNav {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#helpNav {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
ul li {
    display: inline-block;
}
li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
main { 
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    );
    height: 100vh;
}
#outputJSON {
    position: relative;
    top: 8%;
    margin-left: 20px;
    margin-right: 20px;
    height: 65vh;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}
.processes {
    width: 15%;
    height: 50px;
    margin-right: 108px;
    text-align: center;
    border-radius: 5px;
    border:  1px solid black;
    padding: 10px;
    display: inline-block;
}
.lifeLine {
    position: relative;
    margin-top: 20px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100vh;
    border: 2px dashed black;
    border-left: 3px;
}
.arrows {
    position: relative;
    max-width: 0px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.messages{
    position: relative;
}
#log {
    position: relative;
    margin-top: 10px;
    top: 8%;
    height: 24%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    overflow: auto;
}
#logList li {
    float: left;
    clear: left;
}
.frame {
    border: 1.5px solid black;
    width: 90%;
    top: 40px;
    position: relative;
}
.frameTitle{
    border: 1px solid;
    margin-right: 90%;
}
hr {
    border-top: 1.5px dashed black !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}