* {
	font-family: 'Source Sans Pro', sans-serif;
}
.jumbotron {
	color: #808080;
	padding: 60px;
	text-align: center;
}
.welcomeText {
	text-align: center;
	color: #808080;
	margin-bottom: 50px;
}
.fileInput {
	border: 2px solid #bcbcbc;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	display: block;
	margin: 0 auto;
}